In [15]:
#!pip install ipython-sql
import sqlite3
import pandas as pd

In [16]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [17]:
%sql sqlite:///Assignment.db

In [18]:
conn = sqlite3.connect("Assignment.db")

# Chicago Crime Dataset

In [19]:
df = pd.read_csv('./Chicago_Crime.csv')

In [20]:
df.to_sql("Chicago_Crime_table", con = conn, if_exists= 'replace')

8177858

Problem 1: Find the total number of crimes recorded in the CRIME table.

In [21]:
%%sql

SELECT COUNT(*) AS TotalCrimes
FROM Chicago_Crime_table

 * sqlite:///Assignment.db
Done.

[(8177858,)]

Problem 3: List all case numbers for crimes involving minors?

In [22]:
%%sql

SELECT *
FROM Chicago_Crime_table
WHERE description LIKE '%MINOR%'
LIMIT 5;

 * sqlite:///Assignment.db
Done.

[(4, 13274752, 'JG501049', '11/12/2023 07:59:00 AM', '086XX S COTTAGE GROVE AVE', '0454', 'BATTERY', 'AGGRAVATED P.O. - HANDS, FISTS, FEET, NO / MINOR INJURY', 'SMALL RETAIL STORE', 1, 0, 632, 6.0, 6.0, 44.0, '08B', 1183071.0, 1847869.0, 2023, '12/09/2023 03:41:24 PM', 41.737750767, -87.604855911, '(41.737750767, -87.604855911)'),
 (58, 12589893, 'JF109865', '01/11/2022 03:00:00 PM', '087XX S KINGSTON AVE', '1541', 'OBSCENITY', 'SALE / DISTRIBUTE OBSCENE MATERIAL TO MINOR', 'RESIDENCE', 0, 1, 423, 4.0, 7.0, 46.0, '26', 1194660.0, 1847481.0, 2022, '06/17/2024 03:41:13 PM', 41.736409029, -87.562410309, '(41.736409029, -87.562410309)'),
 (69, 13189895, 'JG399264', '08/27/2023 01:16:00 AM', '048XX N KIMBALL AVE', '0454', 'BATTERY', 'AGGRAVATED P.O. - HANDS, FISTS, FEET, NO / MINOR INJURY', 'STREET', 1, 0, 1712, 17.0, 33.0, 14.0, '08B', 1152841.0, 1931987.0, 2023, '09/14/2023 03:41:59 PM', 41.969229299, -87.713386363, '(41.969229299, -87.713386363)'),
 (78, 13196606, 'JG407589', '09/02/2023 12:35:00 AM', '021XX W DIVISION ST', '0454', 'BATTERY', 'AGGRAVATED P.O. - HANDS, FISTS, FEET, NO / MINOR INJURY', 'STREET', 1, 0, 1424, 14.0, 1.0, 24.0, '08B', 1161836.0, 1907964.0, 2023, '09/14/2023 03:41:59 PM', 41.903125362, -87.680983903, '(41.903125362, -87.680983903)'),
 (597, 13203875, 'JG414990', '09/06/2023 12:23:00 PM', '073XX N WASHTENAW AVE', '0484', 'BATTERY', 'PROTECTED EMPLOYEE - HANDS, FISTS, FEET, NO / MINOR INJURY', 'SCHOOL - PUBLIC BUILDING', 0, 0, 2411, 24.0, 50.0, 2.0, '08B', 1157092.0, 1948758.0, 2023, '09/14/2023 03:43:09 PM', 42.015164168, -87.697297389, '(42.015164168, -87.697297389)')]

#Remove LIMIT 5 TO LIST ALL

Problem 4: List all kidnapping crimes involving a child?(children are not considered minors for the purposes of crime analysis)

In [23]:
%%sql

SELECT *
FROM Chicago_Crime_table
WHERE "Primary Type" = 'KIDNAPPING' AND "Description" LIKE "%CHILD%"
LIMIT 5

 * sqlite:///Assignment.db
Done.

[(3313, 13204305, 'JG416635', '09/08/2023 04:50:00 PM', '078XX S VERNON AVE', '1792', 'KIDNAPPING', 'CHILD ABDUCTION / STRANGER', 'STREET', 0, 0, 624, 6.0, 6.0, 69.0, '26', 1180599.0, 1853225.0, 2023, '09/16/2023 03:42:58 PM', 41.752505303, -87.613748496, '(41.752505303, -87.613748496)'),
 (24338, 13229965, 'JG447224', '09/11/2023 03:30:00 PM', '002XX E 44TH ST', '1792', 'KIDNAPPING', 'CHILD ABDUCTION / STRANGER', 'SIDEWALK', 0, 0, 215, 2.0, 3.0, 38.0, '26', 1178445.0, 1875893.0, 2023, '10/04/2023 03:41:32 PM', 41.814757721, -87.620953719, '(41.814757721, -87.620953719)'),
 (48012, 13596650, 'JH427406', '09/13/2024 03:34:00 PM', '112XX S ADA ST', '1792', 'KIDNAPPING', 'CHILD ABDUCTION / STRANGER', 'PARK PROPERTY', 0, 0, 2234, 22.0, 21.0, 75.0, '26', 1169344.0, 1830008.0, 2024, '09/27/2024 03:40:30 PM', 41.689045293, -87.655662965, '(41.689045293, -87.655662965)'),
 (50556, 13602333, 'JH434060', '09/14/2024 11:00:00 PM', '033XX W 57TH ST', '1792', 'KIDNAPPING', 'CHILD ABDUCTION / STRANGER', 'STREET', 0, 0, 822, 8.0, 14.0, 63.0, '26', 1155271.0, 1866632.0, 2024, '09/22/2024 03:41:42 PM', 41.789839984, -87.706207195, '(41.789839984, -87.706207195)'),
 (73229, 13268180, 'JG493758', '11/06/2023 01:08:00 PM', '067XX S PULASKI RD', '1792', 'KIDNAPPING', 'CHILD ABDUCTION / STRANGER', 'RESTAURANT', 0, 0, 833, 8.0, 23.0, 65.0, '26', 1150866.0, 1859440.0, 2023, '11/14/2023 03:42:12 PM', 41.770191042, -87.722546543, '(41.770191042, -87.722546543)')]

#Remove LIMIT 5 TO LIST ALL

Problem 5: What kind of crimes were recorded at schools?

In [24]:
%%sql

SELECT DISTINCT "Primary Type"
FROM Chicago_Crime_table
WHERE "Location Description" LIKE '%SCHOOL%'

 * sqlite:///Assignment.db
Done.

[('CRIMINAL DAMAGE',),
 ('BATTERY',),
 ('ASSAULT',),
 ('OFFENSE INVOLVING CHILDREN',),
 ('THEFT',),
 ('SEX OFFENSE',),
 ('OTHER OFFENSE',),
 ('MOTOR VEHICLE THEFT',),
 ('ROBBERY',),
 ('BURGLARY',),
 ('WEAPONS VIOLATION',),
 ('PUBLIC PEACE VIOLATION',),
 ('NARCOTICS',),
 ('CRIMINAL SEXUAL ASSAULT',),
 ('STALKING',),
 ('CRIMINAL TRESPASS',),
 ('DECEPTIVE PRACTICE',),
 ('ARSON',),
 ('INTIMIDATION',),
 ('OBSCENITY',),
 ('KIDNAPPING',),
 ('HOMICIDE',),
 ('INTERFERENCE WITH PUBLIC OFFICER',),
 ('LIQUOR LAW VIOLATION',),
 ('GAMBLING',),
 ('CRIM SEXUAL ASSAULT',),
 ('PROSTITUTION',),
 ('RITUALISM',),
 ('OTHER NARCOTIC VIOLATION',),
 ('PUBLIC INDECENCY',),
 ('HUMAN TRAFFICKING',),
 ('CONCEALED CARRY LICENSE VIOLATION',)]

Problem 8: Which community area(number) is most crime prone?

In [25]:
%%sql

SELECT "Community Area", COUNT(*) AS "Crime Count"
FROM Chicago_Crime_table
WHERE "Community Area" IS NOT NULL
GROUP BY "Community Area"
ORDER BY "Crime Count" DESC
LIMIT 10;

 * sqlite:///Assignment.db
Done.

[(25.0, 467440),
 (8.0, 269740),
 (43.0, 249284),
 (23.0, 234675),
 (28.0, 232980),
 (24.0, 222184),
 (29.0, 220199),
 (71.0, 213329),
 (67.0, 212151),
 (49.0, 199472)]

Problem 10: Use a sub-query to determine the Community Area Name with most number of crimes?

In [26]:
%%sql

SELECT `Community Area`
FROM (
    SELECT `Community Area`, COUNT(*) as crime_count
    FROM Chicago_Crime_table
    WHERE `Community Area` IS NOT NULL
    GROUP BY `Community Area`
) subquery
WHERE crime_count = (
    SELECT MAX(crime_count)
    FROM (
        SELECT COUNT(*) as crime_count
        FROM Chicago_Crime_table
        WHERE `Community Area` IS NOT NULL
        GROUP BY `Community Area`
    ) inner_subquery
);

 * sqlite:///Assignment.db
Done.

[(25.0,)]

# Indicators Data Set (Problem 2, 7, 9,)

In [27]:
df = pd.read_csv('Census_data.csv')

In [28]:
df.to_sql("df2_table", con = conn, if_exists= 'replace')

78

Problem 2: List community areas with per capita income less than 11000.

In [29]:
%%sql

SELECT "COMMUNITY AREA NAME"
FROM df2_table
WHERE "PER CAPITA INCOME " < 11000

 * sqlite:///Assignment.db
Done.

[('West Garfield Park',),
 ('South Lawndale',),
 ('Fuller Park',),
 ('Riverdale',)]

Problem 7: List 5 community areas with highest % of households below poverty line.

In [30]:
%%sql

SELECT "COMMUNITY AREA NAME", "PERCENT HOUSEHOLDS BELOW POVERTY"
FROM df2_table
ORDER BY "PERCENT HOUSEHOLDS BELOW POVERTY" DESC
LIMIT 5

 * sqlite:///Assignment.db
Done.

[('Riverdale', 56.5),
 ('Fuller Park', 51.2),
 ('Englewood', 46.6),
 ('North Lawndale', 43.1),
 ('East Garfield Park', 42.4)]

Problem 9: Use a sub-query to find the name of the community area with highest hardship index.

In [31]:
%%sql

SELECT "COMMUNITY AREA NAME"
FROM df2_table
WHERE "HARDSHIP INDEX" = (SELECT MAX("HARDSHIP INDEX") FROM df2_table)

 * sqlite:///Assignment.db
Done.

[('Riverdale',)]

# Public School Data Set (Problem 6)

In [32]:
df = pd.read_csv("SY2223.csv")

In [33]:
df.to_sql("SY2223", con = conn, if_exists= 'replace')

651

Problem 6: List the average safety score for all types of schools.

In [34]:
%%sql

SELECT DISTINCT School_Survey_Safety
FROM SY2223;

 * sqlite:///Assignment.db
Done.

[('NEUTRAL',),
 ('WEAK',),
 ('NOT ENOUGH DATA',),
 ('STRONG',),
 ('VERY WEAK',),
 ('VERY STRONG',),
 (None,)]

In [35]:
%%sql

-- Calculate average safety score for all school types
SELECT School_Type, 
       AVG(
           CASE 
               WHEN School_Survey_Safety = 'VERY STRONG' THEN 10
               WHEN School_Survey_Safety = 'STRONG' THEN 8
               WHEN School_Survey_Safety = 'NEUTRAL' THEN 5
               WHEN School_Survey_Safety = 'WEAK' THEN 4
               WHEN School_Survey_Safety = 'VERY WEAK' THEN 2
               WHEN School_Survey_Safety = 'NOT ENOUGH DATA' THEN 5
               ELSE 0 -- In case there is None or unexpected values
           END
       ) AS avg_safety_score
FROM SY2223
GROUP BY School_Type
ORDER BY avg_safety_score DESC;

 * sqlite:///Assignment.db
Done.

[('Regional gifted center', 6.4),
 ('Classical', 6.333333333333333),
 ('Special Education', 5.625),
 ('Virtual', 5.0),
 ('Citywide-Option', 5.0),
 (None, 5.0),
 ('Magnet', 4.906976744186046),
 ('Selective enrollment', 4.818181818181818),
 ('Neighborhood', 4.7707808564231735),
 ('Small', 4.6),
 ('Charter', 4.254385964912281),
 ('Military academy', 4.0),
 ('Contract', 3.75),
 ('Career academy', 2.5)]